@model FYP_WebApp.Models.Message

@{
    ViewBag.Title = "Message Details";
}

<div class="card rounded shadow mb-3">
    <h5 class="card-header">Message Received: @Model.MessageReceived</h5>
    <div class="card-body">
        <div class="border rounded-pill mb-3">
            <strong class="pl-2">From:</strong>
            @Html.DisplayFor(model => model.Sender.DisplayString)
        </div>
        <div class="border rounded p-3 mb-1">
            <div class="scroller-lg">
                @Html.DisplayFor(model => model.Content)
            </div>
        </div>
        
        @if (Model.IsRead == true)
        {
            <p>Message Seen: <i class="fa fa-check" style="color: green"></i></p>
        }
        
        <button class="btn btn-info btn-sm" onclick="location.href = '@Url.Action("Index", "Message")';return false;">
            <i class="fa fa-times"></i>
            Close Message
        </button>
    </div>
</div>
