@using System.Collections.Specialized
@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <div class="card">
        <h5 class="card-header">At a glance</h5>
        <div class="card-body">
            <i class="fa fa-envelope"></i>
            <strong>Unread Messages</strong>
            @if (ViewBag.unreadMessages != null)
            {
                if (ViewBag.unreadMessages > 0)
                {
                    <p>You have: @ViewBag.unreadMessages unread messages.</p>
                    <a href="#" class="btn btn-primary">My Messages</a>
                }
                else
                {
                    <p>You're all caught up!</p>
                }
            }
           
        </div>
    </div>
}
else
{
    <div class="jumbotron shadow-lg p-3" style="background-image: url(../../Content/Images/map_3d.png)">
        <h1 style="color: snow">BuddyUp Work Tracking System</h1><span class="badge badge-info">Proof Of Concept</span>
        <p class="lead" style="color: snow">Remote Tracking Solution</p>
        <hr style="border-color: snow"/>
        <button class="btn btn-primary" onclick="location.href = '@Url.Action("Login","Account", new { id = "loginLink" })';return false;">Login</button>
    </div>
}

