@using FYP_WebApp.Common_Logic
@model FYP_WebApp.Models.ErrorViewModel

@{
    ViewBag.Title = "Error";
}

@switch (Model.Error)
{
    case Errors.AccountInactive:
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Account not accessible</h4>
            <p>The account you are trying to access is no longer accessible.</p>
            <hr>
            <p class="mb-0">If you believe this is an error please contact your system administrator.</p>
        </div>
        break;
    case Errors.SystemError:
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">System Error</h4>
            <p>A System Error has occurred.</p>
            <hr>
            <p class="mb-0">@Model.Message</p>
        </div>
        break;
    case Errors.InvalidParameter:
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Invalid Parameter</h4>
            <p>The specified parameter was incorrect.</p>
            <hr>
            <p class="mb-0">@Model.Message</p>
        </div>
        break;
    case Errors.EntityNotFound:
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Entity not found</h4>
            <p>The requested entity was not found.</p>
            <hr>
            <p class="mb-0">@Model.Message</p>
        </div>
        break;

}



